{% extends "emails/base.html" %}
{% load i18n %}

{% block subject %}
{{ subject }}
{% endblock %}

{% block body %}
<tr>
    <td class="text-phone mp30"
        style="padding-bottom: 10px; color:#41455c; font-family: 'Poppins', sans-serif; font-size:1rem; line-height:1.5rem; text-align:center;">
        {% trans 'Votre token est le:' %}
        <div style="padding: 15px">
            <span style="border-style: solid;border-width: 5px;border-color: #41455c;color: white; border-radius: 25px;
                    background: #41455c; font-weight: bold; margin: 25px">
                {{ token }}
            </span>
        </div>
        {% trans 'Merci de bien vouloir suivre la procédure sur votre application.' %}
    </td>
</tr>
{% endblock %}
