{% load i18n admin_urls static %}

<link rel="stylesheet" href="{% static 'material/admin/css/submit_line.min.css' %}">

<div class="submit-row">
  <div class="open-actions">
    {% block submit-row %}
      {% if show_save %}
      <button type="submit" class="default waves-effect waves-light btn" name="_save_answer">
          <!--{% trans 'Save' %}-->Répondre
          <i class="material-icons right">mail</i>
      </button>
      {% endif %}
      {% if show_save_and_deny %}
      <button type="submit" class="default waves-effect waves-light btn red" name="_save_deny">
          <!--{% trans 'Save' %}-->Ignorer
          <i class="material-icons right">close</i>
      </button>
      {% endif %}
      {% if show_delete_link and original %}
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
          <a href="{% add_preserved_filters delete_url %}"
             class="deletelink waves-effect waves-light btn red">
              {% trans "Delete" %}
              <i class="material-icons right">delete_forever</i>
          </a>
      {% endif %}
    {% endblock %}
  </div>
</div>
